{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="light-blue-text text-darken-2 center-align"><strong>About Us</strong></h3>
    </div>
    
    <div class="row">
        <div class="about-text dark-gray-text text-darken-2">
            <p>
                How many times have you heard someone say "This book changesd my life!". 
                Some actually do. We love books and are always on the lookout for our 
                next read. This site is meant to help do that.<br>
                
                <br>Now, while we can't promise that you will definitely find one to change 
                your life, we can promise you the opportunity to find some that others have  
                found entertaining, informative or motivational or not worth the time. <br>

                <br>How can we promise that? This platform is meant to allow you the opportunity 
                to provide reviews and on books you've read and to consider reviews 
                others have posted on books they've read.<br>

                <br>We want people to be able to share their reviews with others and to connect 
                with people across the world. You'll be able to share your reviews, and save 
                other titles so you can try them yourself later. What's best, it doesn't cost 
                a thing to become a part of our book lover community!
            </p>    
        </div>
    </div>


{% endblock %}