{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a Book</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('book_add') }}">
        <div class="card-panel">
            <!-- title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix light-blue-text text-darken-4"></i>
                    <input id="book_title" name="book_title" type="text" minlength="1"
                        maxlength="100" required>
                    <label for="book_title">Book Title</label>
                </div>
            </div>
            <!-- author -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-edit prefix light-blue-text text-darken-4"></i>
                    <input id="book_author" name="book_author" type="text" minlength="5"
                        maxlength="75" required>
                    <label for="book_author">Author</label>
                </div>
            </div>
            <!-- description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-arrow-circle-right prefix light-blue-text text-darken-4"></i>
                    <input id="book_description" name="book_description" type="text" minlength="5"
                        maxlength="150" required>
                    <label for="book_description">Short Description</label>
                </div>
            </div>
            <!-- submit -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_books') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Submit <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>




{% endblock %}