{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit review</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <!-- genre selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled>Choose genre</option>
                        {% for genre in genres %}
                            {% if genre.genre_name == review.genre_name %}
                                <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                            {% else %}
                                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="genre_name">Genre</label>
				</div>
			</div>
            <!-- Book Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="book_title" name="book_title" minlength="5" maxlength="100"
                        value="{{ review.book_title }}" type="text" class="validate" required>
                    <label for="book_title">Title</label>
                </div>
            </div>
            <!-- Review Content -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="review_content" name="review_content" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>
                        {{- review.review_content -}}
                    </textarea>
                    <label for="review_content">Review</label>
                </div>
            </div>
            <!-- is urgent toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fa fa-thumbs-up prefix light-blue-text text-darken-4"></i>
						<label for="is_liked">
                            {% if review.is_liked == "on" %}
                                <input type="checkbox" id="is_liked" name="is_liked" checked>
                            {% else %}
                                <input type="checkbox" id="is_liked" name="is_liked">
                            {% endif %}
                            <span class="lever"></span>
                            Liked
                        </label>
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_reviews') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Review <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}